@-webkit-keyframes METER {
  17%   {
    transform: rotate(45deg);
  }
  34%   {
    transform: rotate(90deg);
  }
  51%   {
    transform: rotate(135deg);
  }
  68%   {
    transform: rotate(90deg);
  }
  85%   {
    transform: rotate(45deg);
  }
  100%   {
    transform: rotate(0deg);
  }
}

@-moz-keyframes METER {
  17%   {
    transform: rotate(45deg);
  }
  34%   {
    transform: rotate(90deg);
  }
  51%   {
    transform: rotate(135deg);
  }
  68%   {
    transform: rotate(90deg);
  }
  85%   {
    transform: rotate(45deg);
  }
  100%   {
    transform: rotate(0deg);
  }
}

@-o-keyframes METER {
  17%   {
    transform: rotate(45deg);
  }
  34%   {
    transform: rotate(90deg);
  }
  51%   {
    transform: rotate(135deg);
  }
  68%   {
    transform: rotate(90deg);
  }
  85%   {
    transform: rotate(45deg);
  }
  100%   {
    transform: rotate(0deg);
  }
}

@keyframes METER {
  17%   {
    transform: rotate(45deg);
  }
  34%   {
    transform: rotate(90deg);
  }
  51%   {
    transform: rotate(135deg);
  }
  68%   {
    transform: rotate(90deg);
  }
  85%   {
    transform: rotate(45deg);
  }
  100%   {
    transform: rotate(0deg);
  }
}

.meter
{
  .pointer{
    -webkit-animation: METER 1s infinite; /* Safari 4+ */
    -moz-animation:    METER 1s infinite; /* Fx 5+ */
    -o-animation:      METER 1s infinite; /* Opera 12+ */
    animation:         METER 1s infinite; /* IE 10+, Fx 29+ */
    //transform-origin: 73% 70%;
    transform-origin: 73% 57%;
    background: #000;
  }
}
