@import 'variables';

.loading-article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 128px;

  img {
    width: 360px;
    height: 65px;
  }

  i{
    font-size: 48px;
    margin-top: 16px;
    color: $primarycol;
  }
}

.controls{
  background: $primarycol;
  padding: 16px;

  .btn{
    border: 1px solid $whitecol;
    border-radius: 0px;
    color: $whitecol;
    background: none;
    margin-left: 16px;
  }

  .btn:hover{
    background: $whitecol;
    color: $primarycol;
  }
}

.timeline{
  background: $whitecol;

  .content{
    min-height: 500px;
    padding: 0px;
  }



  .loader{
    height: 15px;
    background: $yellowcol;


    .loading{
      display: inline-block;
      width: 0px;
      height: 15px;
      position: relative;
      background: $greencol;
    }

  }

  .slide{
    // display: flex;
    // flex-direction: column;
    // flex: 1;
  }


  .numbers{
    min-height: 500px;
    background: linear-gradient(
      to bottom,
      $primarycol 0%,
      $primarycol 50%,
      #fff 50%,
      #fff 100%
    );

    .title{
      text-transform: uppercase;
      font-size: $heading;
      color: #fff;
      padding: 32px;
    }

    .numbers-row{
      padding: 32px;

      .box{
        // width: 40%;
      }
    }
  }

  .charts{
    min-height: 500px;
    background: linear-gradient(
      to bottom,
      $primarycol 0%,
      $primarycol 50%,
      #fff 50%,
      #fff 100%
      );

    .title{
      text-transform: uppercase;
      font-size: $heading;
      color: #fff;
      padding: 32px;
    }

    iframe{
      min-height: 300px;
      padding-left: 48px;
    }
  }
  .image-headline{
    display: block;
    position: relative;
    min-height: 500px;

    img{

    }

    h2{
      display: inline-block;
      margin: 0px 24px;
      font-size: 1.8em;
      text-transform: uppercase;
      color: #fff;
      top: 300px;
      position: relative;
      line-height: 2.4em;
    }

    h2 span{
      padding: 0.3em;
      background: $primarycol;
    }
  }


  .slide.pesacheck-meter{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    background: $primarycol;

    .meter{
      display: inline-block;
    }

    p{
      display: inline-block;
      margin: 64px;
      margin-bottom: 16px;
      font-size: $heading;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      padding: 8px 16px;
    }

    .readings{
      margin-top: 32px;
    }
  }
}

.meter-readings{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;

  li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 32px;

    .indicator{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-right: 16px;
      background: #fff;
    }

    .text{
      text-transform: uppercase;
      color: #fff;
      opacity: 0.4;
    }
  }

  li.false{
    .indicator{
      background: $redcol;
    }
  }

  li.partly-true{
    .indicator{
      background: $orangecol;
    }
  }

  li.plausible{
    .indicator{
      background: $yellowcol;
    }
  }

  li.true{
    .indicator{
      background: $greencol;
    }
  }

  li.active{
    .text{
      opacity: 1;
    }
  }
}
