@import 'variables';

.timeline{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 600px;
  width: 800px;

  .content{
    display: flex;
    flex: 1;
  }

  .content.ng-enter, .content.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:block;
    padding:10px;
  }

  .content.ng-enter {
    top:-50px;
  }
  .content.ng-enter.ng-enter-active {
    top:0;
  }

  .content.ng-leave {
    top:0;
  }
  .content.ng-leave.ng-leave-active {
    top:50px;
  }

  .loader{
    height: 15px;
    background: $yellowcol;


    .loading{
      display: inline-block;
      width: 0px;
      height: 15px;
      position: relative;
      background: $greencol;
    }

  }

  .slide{
    display: flex;
    flex-direction: column;
    flex: 1;
  }


  .numbers{
    padding: 32px;

    .title{
      text-transform: uppercase;
      font-size: $heading;
      color: $primarycol;
    }
  }
  .image-headline{
    display: block;
    position: relative;

    img{

    }

    h2{
      display: inline-block;
      margin: 0px 24px;
      font-size: 1.8em;
      text-transform: uppercase;
      color: #fff;
      top: 300px;
      position: relative;
      line-height: 2.4em;
    }

    h2 span{
      padding: 0.3em;
      background: $primarycol;
    }

    p{

    }
  }


  .slide.pesacheck-meter{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background: $primarycol;

    .meter{
      display: inline-block;
    }

    p{
      display: inline-block;
      margin: 64px;
      margin-bottom: 16px;
      font-size: $heading;
      text-transform: uppercase;
      color: #fff;
      padding: 8px 16px;
    }

    .readings{
      margin-top: 32px;
    }
  }
}

.meter-readings{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;

  li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 32px;

    .indicator{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-right: 16px;
      background: #fff;
    }

    .text{
      text-transform: uppercase;
      color: #fff;
      opacity: 0.4;
    }
  }

  li.false{
    .indicator{
      background: $redcol;
    }
  }

  li.partly-true{
    .indicator{
      background: $orangecol;
    }
  }

  li.plausible{
    .indicator{
      background: $yellowcol;
    }
  }

  li.true{
    .indicator{
      background: $greencol;
    }
  }

  li.active{
    .text{
      opacity: 1;
    }
  }
}
