@import 'home';
@import 'story';
@import 'variables';


.logo{
  width: 140px;
  height: auto;
}

.navbar-default {
  .navbar-toggle{
    background: $primarycol;
    border: none;
    border-radius: 0px;

    .icon-bar{
      background-color: $whitecol;
    }
  }

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus{
    background: #2a74aa;
    color: #fff;
  }
}

.page{
  margin-top: 50px;
}
