.pesacheck-slider {
  height: 86vh;
  max-height: 86vh;
  overflow-y: hidden; }
  .pesacheck-slider img {
    width: 100%;
    height: 86vh; }
  .pesacheck-slider .carousel-control {
    top: 48%;
    bottom: 51%;
    width: 64px;
    height: 64px;
    background-color: #020815;
    border-radius: 50%;
    border: 5px solid #ec302e; }
  .pesacheck-slider .carousel-control.left,
  .pesacheck-slider .carousel-control.right {
    background-image: none; }
  .pesacheck-slider .carousel-control.left {
    margin-left: 32px; }
  .pesacheck-slider .carousel-control.right {
    margin-right: 32px; }
  .pesacheck-slider .carousel-control .glyphicon-chevron-left,
  .pesacheck-slider .carousel-control .glyphicon-chevron-right,
  .pesacheck-slider .carousel-control .icon-next,
  .pesacheck-slider .carousel-control .icon-prev {
    width: auto;
    height: auto;
    margin-top: -10px;
    font-size: 18px; }
  .pesacheck-slider .slider-caption {
    position: absolute;
    text-align: center;
    top: 100px;
    width: 100%;
    padding: 0 128px; }
    .pesacheck-slider .slider-caption .header {
      text-transform: uppercase;
      font-size: 48px;
      font-weight: bold;
      display: block;
      color: #fff;
      margin-bottom: 48px; }
    .pesacheck-slider .slider-caption .description {
      font-size: 20px;
      display: block;
      margin-top: 16px;
      color: #fff; }
    .pesacheck-slider .slider-caption .btn {
      margin-right: 16px;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      padding: 16px 32px;
      display: inline-block;
      border: 2px solid #36abfc;
      border-radius: 0px; }
  .pesacheck-slider .slider-primary-btn {
    margin-top: 64px;
    background: #36abfc;
    color: #fff; }
  .pesacheck-slider .slider-secondary-btn {
    margin-top: 64px;
    background: none;
    color: #36abfc; }
  .pesacheck-slider .carousel-indicators .active {
    background: #ec302e; }
  .pesacheck-slider .carousel-indicators li {
    border-color: #ec302e;
    margin-right: 16px; }

.story {
  padding: 32px; }
  .story .row {
    margin-bottom: 32px; }
  .story .main {
    height: 350px;
    min-height: 350px;
    background: #2a74aa;
    padding: 32px;
    padding-bottom: 0px;
    color: #ffffff; }
  .story .box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #2a74aa;
    height: 350px;
    min-height: 350px;
    padding: 32px;
    padding-bottom: 0px;
    background: #ffffff; }
    .story .box h3 {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center; }
    .story .box h4 {
      font-size: 14px;
      font-weight: 300;
      text-transform: lowercase;
      text-align: center; }
    .story .box p {
      font-size: 14px;
      text-transform: lowercase;
      text-align: center; }
  .story .truthmeter {
    width: 90%;
    display: block;
    margin: 0 auto;
    height: auto;
    position: relative; }
  .story .counter {
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    display: block;
    margin: 16px 0; }
  .story .libra {
    width: 100%;
    height: 600px;
    border: none; }

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 600px;
  width: 800px; }
  .timeline .content {
    display: flex;
    flex: 1; }
  .timeline .content.ng-enter, .timeline .content.ng-leave {
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    padding: 10px; }
  .timeline .content.ng-enter {
    top: -50px; }
  .timeline .content.ng-enter.ng-enter-active {
    top: 0; }
  .timeline .content.ng-leave {
    top: 0; }
  .timeline .content.ng-leave.ng-leave-active {
    top: 50px; }
  .timeline .loader {
    height: 15px;
    background: #f8ca0f; }
    .timeline .loader .loading {
      display: inline-block;
      width: 0px;
      height: 15px;
      position: relative;
      background: #4cae4e; }
  .timeline .slide {
    display: flex;
    flex-direction: column;
    flex: 1; }
  .timeline .numbers {
    padding: 32px; }
    .timeline .numbers .title {
      text-transform: uppercase;
      font-size: 24px;
      color: #2a74aa; }
  .timeline .image-headline {
    display: block;
    position: relative; }
    .timeline .image-headline h2 {
      display: inline-block;
      margin: 0px 24px;
      font-size: 1.8em;
      text-transform: uppercase;
      color: #fff;
      top: 300px;
      position: relative;
      line-height: 2.4em; }
    .timeline .image-headline h2 span {
      padding: 0.3em;
      background: #2a74aa; }
  .timeline .slide.pesacheck-meter {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background: #2a74aa; }
    .timeline .slide.pesacheck-meter .meter {
      display: inline-block; }
    .timeline .slide.pesacheck-meter p {
      display: inline-block;
      margin: 64px;
      margin-bottom: 16px;
      font-size: 24px;
      text-transform: uppercase;
      color: #fff;
      padding: 8px 16px; }
    .timeline .slide.pesacheck-meter .readings {
      margin-top: 32px; }

.meter-readings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  margin: 0px; }
  .meter-readings li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 32px; }
    .meter-readings li .indicator {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-right: 16px;
      background: #fff; }
    .meter-readings li .text {
      text-transform: uppercase;
      color: #fff;
      opacity: 0.4; }
  .meter-readings li.false .indicator {
    background: #ee4536; }
  .meter-readings li.partly-true .indicator {
    background: #f7971d; }
  .meter-readings li.plausible .indicator {
    background: #f8ca0f; }
  .meter-readings li.true .indicator {
    background: #4cae4e; }
  .meter-readings li.active .text {
    opacity: 1; }

.logo {
  width: 140px;
  height: auto; }

.navbar-default .navbar-toggle {
  background: #2a74aa;
  border: none;
  border-radius: 0px; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: #2a74aa;
  color: #fff; }

.page {
  margin-top: 50px; }
